body {
  background-image: url("https://picsum.photos/800/600");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Neon Input */
.neon-input {
  background-color: #111;
  border: 2px solid #0ff;
  color: #0ff;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
  outline: none;
  transition: 0.3s;
}
.neon-input:focus {
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
}


/* Neon Badge */
.neon-badge {
  display: inline-block;
  padding: 5px 15px;
  color: #ff0;
  background-color: #111;
  border: 2px solid #ff0;
  border-radius: 12px;
  box-shadow: 0 0 5px #ff0, 0 0 10px #ff0, 0 0 20px #ff0;
  font-weight: bold;
  margin: 5px;
}

/* Neon Link */
.neon-link {
  color: #0f0;
  text-decoration: none;
  text-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
  transition: 0.3s;
}
.neon-link:hover {
  color: #111;
  text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0;
}
/* Neon Text */
.neon-h1 {
  color: rgb(10, 29, 29);
  text-shadow: 0 0 2px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
}
.neon-h2 {
  color: #f0f;
  text-shadow: 0 0 5px #f0f, 0 0 10px #f0f, 0 0 20px #f0f;
}
.neon-p {
  color: #ff0;
  text-shadow: 0 0 3px #ff0, 0 0 6px #ff0, 0 0 10px #ff0;
}

.btn-ring {
 padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #220707;
  background: linear-gradient(45deg, #0ff, #22c3bb); /* gradient */
  box-shadow: 0 0 5px #ff6ec4, 0 0 10px #7873f5, 0 0 20px #29cd5d, 0 0 30px #7873f5; /* neon glow */
  transition: all 0.3s ease;
}

.btn-ring:hover {
  box-shadow: 0 0 10px #ff6ec4, 0 0 20px #7873f5, 0 0 30px #ff6ec4, 0 0 40px #7873f5;
  transform: scale(1);}


.btn:hover {
  box-shadow: 0 0 10px rgb(171, 34, 119), 0 0 20px rgb(16, 201, 201), 0 0 40px rgb(174, 230, 8);
}

    /* Neon LI items */
    .neon-ul li {
      padding: 10px 15px;
      margin-bottom: 10px;
      background-color: #111;
      color: #0ff;
      font-weight: bold;
      border-radius: 5px;
      text-shadow: 
        0 0 3px #0ff,
        0 0 5px #0ff,
        0 0 10px #0ff;
      transition: 0.3s;
      cursor: pointer;
    }

    .neon-ul li:hover {
      box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff;
      text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff;
    }
